#fastlink {
    cursor: pointer;
}

.formfastlink__close,.formAlert__close {
    margin-right: 32px;
    float:right;
    font-size: 24px;
    color:black;
    cursor: pointer;
}

.formfastlink,.formAlert {
    width: 65%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: auto;
    padding: 17px 0px 15px 0px;
    display: none;
}

.formfastlink__title,.formAlert__title {
    clear: right;
    font-size: 30px;
    font-weight: 700;
    color: rgb(40, 46, 62);
    margin-left: 32px;
}

.formfastlink__title + div,.formAlert__title + div {
    width: 484px;
    margin: 24px 0px 0px 32px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(40, 46, 62);
    line-height: 26px;
}

.formAlert__title + div {
    width: 100%;
}

.formAlert__title + div > a {
    cursor: pointer;
    text-decoration: none;
    color: #4255FF;
}

.formfastlink__text {
    margin-left: 32px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(88,99,128);
}

.formfastlink__email{
    margin-top: 38px;
}

.formfastlink__delta {
    width: 100%;
    height: 1px;
    background-color: rgb(237, 239, 244);
    margin: auto;
    margin-top: 30px;
}

.formfastlink__delta + div{
    display: flex;
    justify-content: end;
}

.formfastlink__post {
    margin-left: 32px;
    width: 484px;
    height: 50px;
    display: flex;
    align-items: center;
    border:none;
    justify-content: space-between;
    background-color: rgb(246,247,251);
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 7px;
}

.formfastlink__btn-background {
    background-color: rgb(85, 80, 245);
    color: #FFFFFF;
}

.formfastlink__btn {
    width: 177px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    margin: 15px 32px 0px 0px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.formfastlink__post:focus {
    outline: none;
}

.formfastlink__post::placeholder {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(87, 88, 88);
}

.formfastlink__btn-background:hover {
    background-color: rgb(66, 62, 216);
    cursor: pointer;
}

#btn-feedback {
    width: 177px;
    height: 40px;
    padding: 6px 14px;
    background-color: #4255FF;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-radius: 7px;
}

#btn-feedback:hover {
    background-color: rgb(66, 62, 216);
    cursor: pointer;
}

#btn-register {
    width: 120px;
    height: 40px;
    padding: 6px 14px;
    color: #4255FF;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    background-color: rgb(246, 247, 251);
}

#btn-register:hover {
    background-color: #EDEFFF;
    cursor: pointer;
}

.formfastlink__loader {
    border: 4px solid rgb(235,235,235);
    border-radius: 50%;
    border-top: 4px solid #FFFFFF;
     border-left: 4px solid #FFFFFF;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
