*{
    box-sizing: border-box;
    margin: 0;
}
.formreset {
    width: 56%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: auto;
    padding: 52px 32px 40px;
}

.formreset__title {
    font-size: 32px;
    font-weight: 700;
    color: rgb(40, 46, 62);
}
#formreset{
    margin-top: 32px;
    padding: 0px;
}
.formreset__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(88,99,128);
    margin-top: 32px;
}

 .formreset__email{
    margin-top: 32px;
}

 .formreset__post {
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgb(246,247,251);
    margin-top: 12px;
    border-radius: 7px;
    padding-left: 15px;
}

.formreset__post:focus {
    outline: none;
}

.formreset__btn-background {
    background-color: rgb(85, 80, 245);
    color: #FFFFFF;
}

.formreset__btn-background:hover {
    background-color: rgb(66, 62, 216);
    cursor: pointer;
}

.formreset__passwordAlert,.formreset__emailInvalidAlert {
    color: rgb(176, 0, 32);
    margin-top: 38px;
    display: none;
}

.formreset__post::placeholder {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(139, 147, 168);
    margin-left: 15px;
}

.formreset__btn {
    margin-top: 32px;
    border: none;
    font-size: 18px;
    border-radius: 7px;
    padding: 20px 15px;
} 

.formreset__loader {
    margin: auto;
}

.formAlert {
    width: 56%;
    display: none;
    margin: auto;
    margin-top: 100px;
}

.formreset__support {
    color: rgb(85, 80, 245);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.formreset__response {
    color: rgb(176, 0, 32);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.formreset__loader {
    border: 4px solid rgb(235,235,235);
    border-radius: 50%;
    border-top: 4px solid #FFFFFF;
     border-left: 4px solid #FFFFFF;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }