@keyframes slideInFromLeft {
    0% {
      transform: translateY(-70%);
    }
    100% {
      transform: translateY(0);
    }
  }

  
  header,#formcontainer {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.2s ease-out 0s 1 slideInFromLeft;
    
  }

  #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index:-1;
    cursor: pointer;
  }

.formsignup {
    width: 65%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: auto;
    padding: 52px 32px 48px;
}

.formsignup__pass {
    width: 100%;
    height:50px;
    display: flex;
    align-items: center;
    background-color: rgb(246,247,251);
    margin-top: 12px;
    border-radius: 7px;
}

.formsignup__pass > img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    align-items: center;
}

#eyeiconsignup {
    cursor: pointer;
}

.formsignup__btn {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 10px;
    margin: 18px 15px 0px 0px;
    font-weight: 700;
    color: #676767;
    cursor: pointer;
}

.formsignup__post {
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgb(246,247,251);
    margin-top: 12px;
    border-radius: 7px;
}

.formsignup__post:focus {
    outline: none;
}

.formsignup__placeholder {
    width: 93%;
    margin-top: 0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.formsignup__post::placeholder {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(139, 147, 168);
}


.formsignup__delta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
}

.formsignup__1stdelta,.formsignup__2nddelta {
    width: 42%;
    height: 1px;
    background-color: #dcdcdc;
}

.formsignup__birthday {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.formsignup__birthdayAlert {
    color: rgb(176, 0, 32);
    font-size: 14px;
    font-weight: 600;
    display: none; 
}

.formsignup__title {
    font-size: 32px;
    font-weight: 700;
    color: rgb(40, 46, 62);
}

.formsignup__text {
    font-size: 14px;
    font-weight: 600;
    color: rgb(88,99,128);
}

.formsignup select {
    padding:11.34px 15px 11.34px 15px;
    border: 2px solid rgb(219, 222, 223);
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 15px;
    -moz-appearance: none;
	-webkit-appearance: none;
}

select.day,select.month,select.year {
    width: 108px;
    background-image: url("../image/dropdown.svg");
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position:right;
    background-position-x: 80%;
    background-size: 16%;
}

select.month {
    width: 134px;
    background-size: 13%;
}

select.year {
    width: 106px;
}

.formsignup__email,.formsignup__password,.formsignup__name,.formsignup__parentEmail {
    margin-top: 38px;
}


.formsignup__password,.formsignup__passwordAlert {
    margin-bottom: 12px;
}

#second-checkbox,#first-checkbox {
    margin: 28px 0px 0px 5px;
    accent-color: rgb(109, 109, 109);
    width: 18px;
    height: 18px;
    outline:2px solid rgb(109, 109, 109);
    outline-offset:-2.5px;
}

#first-checkbox,label[for='first-checkbox'],.formsignup__parentEmail{
    display: none;
}

.formsignup__btn-background {
    background-color: rgb(85, 80, 245);
    color: #FFFFFF;
}

.formsignup__btn-background:hover {
    background-color: rgb(66, 62, 216);
    cursor: pointer;
}

.formsignup__btn-replace {
    background-color: white;
}

.formsignup__btn-replace:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

.formsignup__label {
    position: relative;
    top:-3px;
}

.formsignup__highline {
    font-weight: 700;
    color: #586380;
}

.AssemblyIcon--small {
    transform:scale(70%) rotate(270deg);
}

.formsignup__emailUsedAlert {
    margin-top: 38px;
    display: none;
}

.formsignup__emailUsedAlert > p + .formsignup__optionAlert {
    margin-top: 10px;
}

.formsignup__optionAlert + .formsignup__optionAlert{
    margin-top: 15px;
}

.formsignup__optionAlert {
    display: flex;
    align-items: center;
}

.formsignup__passwordAlert,.formsignup__emailInvalidAlert {
    color: rgb(176, 0, 32);
    margin-top: 38px;
    display: none;
}

.formsignup__nameAlert {
    color: rgb(176, 0, 32);
    margin-top: 38px;
}

.formsignup__list {
    margin-top: 10px;
}

.formsignup__nameItem {
    margin-left: 25px;
    padding: 10px 15px;
    border-radius: 7px;
    display: inline;
    color:black;
}

.formsignup__nameItem:hover {
    background-color: #eaebec;
    cursor: pointer;
}

.formsignup__checkboxAlert {
    width: 100%;
    padding: 18px 0px 18px 15px;
    border:2px solid rgb(176, 0, 32);
    border-radius: 7px;
    margin-top: 30px;
    display: none;
}

.formsignup__checkboxAlertList {
    color: rgb(176, 0, 32);
    font-size: 16px;
}

#eyeicon {
    cursor: pointer;
}

.formsignup__loader {
    border: 4px solid rgb(235,235,235);
    border-radius: 50%;
    border-top: 4px solid #FFFFFF;
     border-left: 4px solid #FFFFFF;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .formsignup__Alert {
    width: 100%;
    padding: 10px 0px 10px 15px;
    border:2px solid rgb(176, 0, 32);
    border-radius: 7px;
    margin-top: 30px;
    color: rgb(176, 0, 32);
    display: none;
  }