.formlogin {
    width: 65%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: auto;
    padding: 52px 32px 40px;
}

.formsignin__Alert {
    width: 100%;
    padding: 10px 0px 10px 15px;
    border:2px solid rgb(176, 0, 32);
    border-radius: 7px;
    margin-top: 30px;
    color: rgb(176, 0, 32);
    display: none;
}

.formlogin__btn {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 10px;
    margin: 18px 15px 0px 0px;
    font-weight: 700;
    color: #676767;
}

.formlogin__delta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
}

.formlogin__1stdelta,.formlogin__2nddelta {
    width: 42%;
    height: 1px;
    background-color: #dcdcdc;
}

.formlogin__title {
    font-size: 32px;
    font-weight: 700;
    color: rgb(40, 46, 62);
}

.formlogin__text {
    font-size: 14px;
    font-weight: 600;
    color: rgb(88,99,128);
}

.formlogin__email,.formlogin__password{
    margin-top: 38px;
}

.formlogin__pass {
    width: 100%;
    height:50px;
    display: flex;
    align-items: center;
    background-color: rgb(246,247,251);
    margin-top: 12px;
    border-radius: 7px;
}

.formlogin__pass > img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    align-items: center;
}

.formlogin__pass > img:hover{
    background-color: #eaebec;
    outline: 7px solid #eaebec;
}

.formlogin__post {
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgb(246,247,251);
    margin-top: 12px;
    border-radius: 7px;
}

.formlogin__post:focus {
    outline: none;
}

.formlogin__placeholder {
    width: 93%;
    margin-top: 0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.formlogin__post::placeholder {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(139, 147, 168);
}

.formlogin__btn-background {
    background-color: rgb(85, 80, 245);
    color: #FFFFFF;
}

.formlogin__btn-background:hover {
    background-color: rgb(66, 62, 216);
    cursor: pointer;
}

.formlogin__btn-replace {
    background-color: white;
}

.formlogin__btn-replace:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

.formlogin__highline {
    font-weight: 600;
    color: #586380;
}

.AssemblyIcon--small {
    transform:scale(70%) rotate(270deg);
}

.formlogin__emailUsedAlert {
    margin-top: 38px;
    display: none;
}

.formlogin__passwordAlert,.formlogin__emailInvalidAlert {
    color: rgb(176, 0, 32);
    margin-top: 38px;
    display: none;
}

.formlogin__resetpassword {
    float: right;
    color: rgb(85, 80, 245);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    text-decoration: none;
}

.formlogin__password {
   margin-bottom: -12px; 
}

.formlogin__post::placeholder {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(139, 147, 168);
}

.formlogin__pass + .formlogin__text {
    margin-top: 28px;
    text-align: center;
}

.formlogin__text + .formlogin__btn {
    margin-top: 32px;
}

.formlogin__fastlink {
    text-decoration: none;
    text-align: center;
    margin: auto;
    margin-top: 28px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(85, 80, 245);
}

#eyeiconlogin {
    cursor: pointer;
}

.formlogin {
    display: none;
}