*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgb(40,46,62);
}

header{
    position: relative;
    z-index: -1;
  }

body {
    background-color: rgb(215, 215, 215);
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.navbar{
    width: 100%;
    height: 64px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.navbar__listItem {
    text-decoration: none;
}

.navbar__1stcon {
    align-items: center;
    display: flex;
    height: 64px;
    width: 36%;
    padding-left: 15px;
}

.navbar__listItem {
    align-items: center;
    display: flex;
}

.navbar__listItem + .navbar__listItem {
    margin-left: 24px;
    margin-top: 3px;
}

.navbar__2ndcon {
    width: 40%;
    height: 36px;
    border-radius:18px;
    align-items: center;
    display: flex;
    background-color: rgb(199, 212, 215);
}

.navbar__searchIcon {
    margin-left: 15px;
    align-items: center;
}

.navbar__searchText {
    background-color: rgb(199, 212, 215);
    width: 350px;
    margin-left: 15px;
    border: none;
    align-items: center;
}

.navbar__3rdcon {
    align-items: center;
    display: flex;
    width: 21%;
    justify-content: space-between;
    
}

.navbar__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    align-items: center;
}

.navbar__imageItem {
    margin: auto;
}

.navbar__signin {
    align-items: center;
    margin-left: 24px;
    height: 40px;
    background-color: white;
    border: none;
}

.navbar__signup {
    align-items: center;
    background-color: rgb(243, 176, 6);
    margin-left: 20px;
    height: 40px;
    border-radius: 7px;
    border: none;
    padding: 0px 15px;
}


.navbar__dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .navbar__dropbtn:hover, .navbar__dropbtn:focus {
    background-color: #2980B9;
  }
  
  .navbar__dropdown {
    position: relative;
    display: inline-block;
  }

  .navbar__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .navbar__dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navbar__dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

