*{
    margin:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bg__color {
    width: 769px;
    height: 872px;
    background-color:rgb(170, 149, 133);
    position: absolute;
    top:0px;
    left: 672px;
    z-index: -1;
}

#gallery{
    display: flex;
    align-content: center;
    width: 1439px;
    height: 500px;
    margin: auto;
    position: relative;
}

.gallery__img {
    width:408px;
    height: 540px;
}

.nav {
    display:flex;
    width: 1439px;
    margin: auto;
    position: relative;
}
.nav__logo {
    width: 66px;
    height: 57px;
    margin-left: 99px;
    margin-top: 46px;
}

.nav__menu {
    width: 792px;
    height: 23px;
    display: flex;
    align-items:end;
    justify-content:space-between;
    position: absolute;
    left: 550px;
    top:55px;
}

.con_gallery {
    width: 638px;
    height: 540px;
    margin-left: 710px;
    margin-top: 90px;
}

.con__gallery-img {
    display: flex;
}

.con__gallery-checkbox {
    width: 110px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 275px;
    margin-top: 63px;
}

.con__gallery-checkbox input{
    width: 15px;
    height: 15px;
    accent-color: #291E24;
}

.con__gallery-checkbox > :last-child{
    width: 15px;
    height: 15px;
    accent-color: #291E24;
}

.con__gallery-img > :nth-child(1),.con__gallery-img > :nth-child(3){
    width: 80px;
    height: 80px;
    margin-top: 221px;
}

.con__gallery-img > :nth-child(2){
    width: 408px;
    height: 540px;
    margin-left: 46px;
    margin-right: 24px;
}

.nav__menu > p:first-child {
   text-decoration-line: underline;
}

.nav__info > img.nav__title {
    width: 21px;
    height: 21px;
}

.nav__title {
    display: flex;
    align-items: end;
    font-size: 14px;
    color: #071731;
    line-height: 14px;
    font-weight: 500;
}

.nav__info{
    width: 205px;
    display: flex;
    align-items:end;
    justify-content:space-between;
}

.nav__horizon-vector {
    width: 1244px;
    position: absolute;
    top:123px;
    left: 98px;
    height: 1px;
    background-color: #CADAD4;
}

.gallery__orderboard {
    width: 516px;
    height: 501px;
    position: absolute;
    top:133px;
    left: 99px;
}

.gallery__orderboard-slogan {
    font-size: 80px;
    font-weight: 600;
    line-height: 82px;
    color: #071731;
}

.gallery__orderboard-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #5F6575;
    margin-top: 18px;

}

.gallery__orderboard-content-blur {
    color: #AA9585;
}

.gallery__orderboard-feedback {
    width: 475px;
    height: 86px;
    margin-top: 26px;
    display: flex;
    align-items: center;
    position: relative;
}

.gallery__orderboard-icon {
   width: 27px;
   height: 44px;
   border:1px solid #4B5060;
   border-radius: 13.5px; 
   position: absolute;
   top:19px;
   left:-1px;
}

.gallery__orderboard-accent {
    display: flex;
    align-items: center;
    width: 2.9px;
    height: 8.7px;
    background-color: #181B1D;
    position: absolute;
    top:9.8px;
    left:11px;
}

.gallery__orderboard-v-line {
    width: 1px;
    height: 86px;
    background-color: #4B5060;
    margin-left: 45px;
}

.gallery__orderboard-comment {
    width: 396px;
    height: 84px;
    margin-left: 33px;
}

.gallery__orderboard-commnent-line-one {
    display: flex;
    align-items: center;
}

.gallery__orderboard-identification {
    color: #181B1D;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.gallery__orderboard-h-line {
    width: 64.5px;
    height:3px;
    background-color: #AA9584;
    margin-left:12px;
    margin-top:2px;
}

.gallery__orderboard-check-star {
    margin-top: 8px;
}

.gallery__orderboard-user-emotions {
    display: flex;
    align-items: center;
    height: 18px;
    margin-top:8px;
}

.gallery__orderboard-note{
    font-weight: 400;
    line-height: 18px;
    font-size: 18px;
    color:#5F6575;
}

.gallery__orderboard-highlight {
    color:#BB8B67;
}

.gallery__orderboard-user-emotions > img {
   display: flex;
   align-items: end;
   margin-left: 5px;
   width: 22px;
   height: 22px;
}

.gallery__orderboard-btn {
    width:180px;
    height: 64px;
    position: absolute;
    top:437px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #AA9585;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border:none;
}
.banner{
    width: 1439px;
    height: 511px;
    margin: auto;
    position: relative;
    top:269px;
}

.banner > img{
    width: 1439px;
    height: 511px;
}

.banner__title {
    width: 492PX;
    height: 112px;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    color: #FFFFFF;
    position: absolute;
    top:208px;
    left:858px;
}

.custommer {
    width: 1170px;
    height: 578px;
    margin: auto;
    margin-top: 397px;
}

.catalouge{
    width: 1439px;
    height: 791px;
    margin: auto;
    background-color: rgb(248, 250, 252);
    position: relative;
    top:269px;
}

.catalouge__title-container{
    display: flex;
}

.catalouge__container{
    width: 725px;
    height: 137px;
    margin-top:148px;
    margin-left:98px;
}

.catalouge__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    color:#071731;

}

.catalouge__content-title {
    width: 135px;
    height: 56px;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    color:#071731;
    margin-top:-204px;
    margin-left: 25px;
}

.catalouge__content-first {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color:#5F6575;
    height: 61px;
    margin-top: 20px;
}

.catalouge__content-second {
    width: 241px;
    height: 46px;
    margin-left: 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    margin-top: -154px;
    color: #071731;
}

.catalouge__content-third {
    width: 241px;
    height: 46px;
    margin-left: 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    margin-top: -6px; 
    color: #071731;
}

.catalouge__content-four {
    width: 241px;
    height: 46px;
    margin-left: 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    margin-top: -154px;
    color: #071731;
}

.catalouge__arrow {
    margin-top: 175px;
    margin-left: 318px;
}

.catalouge__arrow > :last-child {
    margin-left: 40px;
}

.catalouge__arrow > img {
    width: 80px;
    height: 80px;
}

.catalouge__icon {
    margin-left: 125px;
    margin-top: 25px;
}

.catalouge__icon-second {
    margin-left: 125px;
    margin-top: 25px;
}

.catalouge__icon > img {
    width: 38px;
    height: 38px;
}

.catalouge__icon > :last-child{
    margin-left: 25px;
}

.catalouge__menu {
    width: 325px;
    height: 409px;
    margin-left: 98px;
    margin-top: 10px;
    display: inline-table;
}

.catalouge__menu-btn {
    background-color: #291E24;
    width: 152px;
    height: 42px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    line-height: 27px;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 94px;
    margin-top: 17px;
}

.catalouge__menu-btn-second {
    background-color: #291E24;
    width: 152px;
    height: 42px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    line-height: 27px;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 94px;
    margin-top: 17px;
}

.catalouge__menu > img:first-child{
   width: 235px;
   height: 177px;
   margin-left: 42px;
}

.catalouge__menu:nth-child(3) {
    margin-left: 131px;
}

.catalouge__menu:nth-child(4) {
    margin-left: 138px;
}

.catalouge__bg {
    width: 325px;
    height: 309px;
    background-color: #D9D9D9;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: -79px;
}

.custommer__title {
    width: 645px;
    height: 166px;
    margin: 0px 0px 0px 262px;
}

.custommer__title > :first-child {
    font-size: 56px;
    font-weight: 56px;
    line-height: 56px;
    color: #071731;
}

.custommer__title > :last-child {
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    color:#5F6575;
    margin-top: 20px;
}

.custommer__title > p {
    text-align: center;
}

.custommer__feedback {
    width: 1170px;
    height: 350px;
    margin: auto;
    margin-top: 62px;
}

.custommer__img {
    width: 278px;
    height: 280px;
    background-image: url("/image/Profile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.customer__checkbox {
    width: 110px;
    height: 20px;
    margin-top: 50px;
    margin-left: 84px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.customer__checkbox input {
    width: 15px;
    height: 15px;
    accent-color: #291E24;
}

.custommer__content {
    width: 812px;
    height: 192px;
    margin-top:-328px;
    margin-left: 350px;
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
    color: #071731;
    font-style: italic;
}

.custommer__name {
    width: 193px;
    height: 48px;
    margin-left: 346px;
    margin-top: 21px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #071731;
    letter-spacing: 7%;
}
.custommer__name > :last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:#5F6575;
}

.custommer__check {
    width: 128px;
    height: 20px;
    margin-left: 630px;
    margin-top: -35px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.custommer__check > img{
    width: 20px;
    height: 20px;
}

.custommer__arrow {
    width: 200px;
    height: 80px;
    display: flex;
    align-content: center;
    justify-content:space-between;
    margin-left: 970px;
}

.custommer__arrow > img {
    width: 80px;
    height: 80px;
}

.nav-footer {
    width: 1439px;
    height: 1022px;
    margin: auto;
    margin-top: 127px;
    position: relative;
}

.nav-footer__form {
    width: 1280px;
    height: 442px;
    position: absolute;
    left:80px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: #F8FAFC;
    z-index: 2;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
}

.nav-footer__form-con {
    width: 620px;
    height: 282px;
    margin-left: 335px;
    margin-top: 80px;
}

.nav-footer__form-title {
    width: 614px;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin: auto;
    letter-spacing:-2px;
    text-align: center;
    color:#071731;
}
.nav-footer__form-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color:#5F6575;
    text-align: center;
    margin-top: 10px;
}

.nav-footer__form-input {
    width: 480px;
    height: 80px;
    margin-top: 64px;
    margin-left: 60px;
    background-color: #FFFFFF;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    align-items: center;
}

.nav-footer__form-input > input {
    width: 310px;
    height: 60px;
    border: none;
    border-radius: 16px;
}

.nav-footer__btn {
    width: 160px;
    height: 60px;
    background-color: #000000;
    border: none;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.nav-footer__navigation {
    width: 1439px;
    height: 801px;
    background-color: #000000;
    position: absolute;
    top:221px;
}

.nav-footer__menu {
    width: 1121px;
    height: 432px;
    margin-left: 167px;
    margin-top: 293px;
    display: flex;
}

.nav-footer__logo > img {
    width: 61.22px;
    height: 52.68px;
}

.nav-footer__logo > p {
    width: 322px;
    height: 90px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #808E98;
}

.nav-footer__list-first {
    width: 140px;
    height: 239px;
    margin-left: 204px;
}

.nav-footer__head {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.nav-footer__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #B3B8BC;
}

.nav-footer__list-first >:nth-child(2) {
    margin-top: 26px;
}

.nav-footer__list-first >:nth-child(3) {
    text-decoration: underline;
    margin-top: 25px;
}

.nav-footer__head ~ .nav-footer__title{
    margin-top: 25px;
}

.nav-footer__img {
    width: 121px;
    height: 30px;
    display:flex;
    align-items: center;
}

.nav-footer__img > img{
    width: 30px;
    height: 30px;
}

.nav-footer__list-second {
    width: 133px;
    height: 292px;
    margin-left: 100px;
}

.nav-footer__list-third {
    width: 138px;
    height: 239px;
    margin-left: 84px;
}

.nav-footer__list-third > .nav-footer__head ~ .nav-footer__img {
    margin-top: 25px;
}

.nav-footer__img > span {
    margin-left:10px;
}

.nav-footer__vector {
    width: 1109px;
    height: 1px;
    margin-left: 167px;
    background-color: #FFFFFF;
    opacity: 20%;
    margin-top: -70px;
}

.nav-footer__text {
    width: 273px;
    height: 14px;
    margin-left: 591px;
    margin-top: 56px;
}

.nav-footer__text > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(148, 153, 156, 1);
    opacity: 50%;
    margin: auto;
}


