*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding:38px 0px 0px 86px;
    background-color: rgb(246, 247, 251);
    width: 1400px;
    position: relative;
}

.container{
    width: 592px;
    height: 252px;
}

.container__h1e {
    color: rgb(40, 46, 62);
    margin-bottom: 10px;
}

.container__pe {
    font-weight: 400;
    color: #282E3E;
    font-size: 20px;
    line-height: 32px;
}

.container__pe-mod {
    font-size: 16px;
}

#btn-feedback {
    width: 177px;
    height: 40px;
    padding: 6px 14px;
    background-color: #4255FF;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-radius: 7px;
}

#btn-feedback:hover {
    background-color: rgb(66, 62, 216);
    cursor: pointer;
}

#show-message {
    color: rgb(176,0,32);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

#btn-register {
    width: 120px;
    height: 40px;
    padding: 6px 14px;
    color: #4255FF;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    background-color: rgb(246, 247, 251);
}

#btn-register:hover {
    background-color: #EDEFFF;
    cursor: pointer;
}

.AssemblyIcon-Arm {
    position: absolute;
    top: 0px;
    right: 0px;
}

.AssemblyIcon-Arrow {
    position: absolute;
    top: 120px;
    left: 595px;
    transform: scale(0.65,0.5);
}

.AssemblyIcon-Mail {
    position: absolute;
    top:270px;
    left: 740px;
}

.AssemblyIcon-quizlet {
    position: absolute;
    top:650px;
}

@keyframes slideInFromLeft {
    100% {
      transform: translateY(0);
    }
    0% {
      transform: translateY(70%);
    }
  }

  
  .container__notice {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
    
  }

  .container__notice {
    width: 280px;
    height: 120px;
    padding: 5px 40px 5px 15px;
    background-color: black;
    border-radius: 7px;
    color:#FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 60px;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

}

.container__notice:focus {
	outline: 0
}

.container__notice:before,
.container__notice:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	left: -2%;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat
}

.container__notice:before {
	display: none;
	background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%
}

.container__notice:after {
	display: none;
	background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%
}

.container__notice:active {
	transform: scale(0.9);
	background-color: #e60074;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2)
}

.container__notice.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards
}

.container__notice.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards
}

@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%
	}
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%
	}
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%
	}
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%
	}
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%
	}
}


.container__loader {
    border: 3px solid rgb(235,235,235);
    border-radius: 50%;
    border-top: 3px solid #FFFFFF;
     border-left: 3px solid #FFFFFF;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }